@use "./SCSS/partials/media-queries.scss" as q;
@use "./SCSS/partials/colors" as c;

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 98vh;
    color: c.$text-color;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    &__heading {
        width: 80%;
        height: 20vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        &__text {
            font-size: 1.6em;
        }
    }
    .translator {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        width: 80%;
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            width: 100%;
            @include q.mobile {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
                width: 100%;
            }
            &__text {
                display: flex;
                width: 80%;
                textarea {
                    width: 100%;
                    height: 200px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 1px solid c.$orange;
                    border-radius: 4px;
                    background-color: c.$textAreaBkg;
                    font-size: 16px;
                    resize: none;
                }
                textarea:focus {
                    outline: none !important;
                    border:2px solid c.$orange;
                    box-shadow: 0 0 5px c.$textAreaShadow;
                }
                p {
                    height: 25vh;
                    width: 100%;
                    border: 1px solid c.$orange;
                    border-radius: 10px;
                }
            }
        }
        &__control {
            display: flex;
            &__btn {
                width: 120px;
                height: 32px;
                font-size: 1.2em;
                background-color: white;
                border: 1px solid c.$orange;
                border-radius: 5px;
            }
        }
    }
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 5vh;
    &__text {
        font-size: 1.1em;
        display: flex;
        justify-content: flex-start;
        width: 80%;
    }
}